/* global, body, and container */

* {
	margin: 0;
	padding: 0;
}

:root {
	--theme-color: #2188ff;
	--light-color: #cfd8dc;
	--lighter-color: #eceff1;

	--blue-color: #2188ff;
	--blue-dark-color: #2155ff;

	--text-color: #455a64;
	--dark-text-color: #37474f;
	--light-text-color: #78909c;
}

body {
	font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	color: var(--text-color);
}

body > div.container {
	text-align: left;
	width: 800px;
	display: inline-block;
	position: relative;
}

/* container is full width on mobile and tablet */
@media only screen and (max-width: 800px) {
	body > div.container {
		width: calc(100% - 1.5rem);
	}
}

/* action button global style */
.action_btn {
	transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;
	display: block;
	min-height: 2.25rem;
	box-sizing: border-box;
	border: 1px solid var(--light-color);
	border-radius: 4px;
	cursor: pointer;
	line-height: 1.75rem;
	font-size: 0.95rem;
	padding: calc(0.25rem - 1px) 0.65rem;
	color: var(--light-text-color);
	float: left;
	text-decoration: none;
	background-color: transparent;
	outline: none;
}
.action_btn:hover {
	border-color: var(--theme-color);
	color: var(--theme-color);
}

/* navbar */
body > div.container > div.topbar {
	box-sizing: border-box;
	padding: 2.75rem 0;
	position: relative;
	width: 100%;
	overflow: hidden;
	height: auto;
}

/* logo title */
body > div.container > div.topbar > h1.title {
	font-weight: bold;
	font-size: 3.5rem;
	text-align: center;
	line-height: 3.5rem;
	color: var(--dark-text-color);
	margin: 0;
	margin-bottom: 0.75rem;
}

/* logo description */
body > div.container > div.topbar > p.description {
	font-size: 1.1rem;
	color: var(--light-text-color);
	text-align: center;
	line-height: 1.375;
}

/* action button link */
body > div.container > nav.main_navbar > a.action_btn:nth-child(2) {
	float: right;
}

/* action button link is not displayed on mobile */
@media only screen and (max-width: 450px) {
	body > div.container > nav.main_navbar > a.action_btn:nth-child(2) {
		display: none;
	}
}

/* hero section */
body > div.container > div.hero {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 2.5rem;
}
body > div.container > div.hero > img {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 1.5rem;
}

/* show correct hero photo depending on whether device is mobile or not */
@media only screen and (max-width: 450px) {
	body > div.container > div.hero {
		display: none;
	}
}

/* app section */
body > div.container > div.app {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 2.5rem;
}

/* header */
body > div.container > div.app > h1.title {
	font-size: 2.625rem;
	margin: 0;
	margin-bottom: 1rem;
	color: var(--dark-text-color);
	letter-spacing: -0.0375rem;
}

/* don't display header on mobile */
@media only screen and (max-width: 450px) {
	body > div.container > div.app > h1.title {
		display: none;
	}
}

/* results section */
body > div.container > div.app > div.results {
	 width: 100%;
	 height: auto;
	 overflow: hidden;
}

/* results loading container and loader */

/* rotating animation for loader */
@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

body > div.container > div.app > div.results > div.loading_container {
	display: block;
	width: 100%;
	height: 3.5rem;
	padding: 1rem 0;
	text-align: center;
}
body > div.container > div.app > div.results > div.loading_container > div.loader {
	width: 3.5rem;
	height: 3.5rem;
	box-sizing: border-box;
	border: 0.35rem solid var(--lighter-color);
	border-left-color: var(--dark-text-color);
	border-radius: 50%;
	animation: rotating 1s linear infinite;
	display: inline-block;
}

/* results loading */
body > div.container > div.app > div.results:not(.loading) > div.loading_container {
	display: none;
}
body > div.container > div.app > div.results.loading > *:not(:first-child) {
	display: none !important;
}

/* photos (3 per line on tablet and desktop, 1 per line on mobile) */
body > div.container > div.app > div.results > div.output_photos_container {
	width: 100%;
	height: auto;
	overflow: hidden;
	font-size: 0;
	padding-left: 1rem;
	box-sizing: border-box;
}
body > div.container > div.app > div.results > div.output_photos_container > div.image_container {
	display: block;
	float: left;
	height: auto;
	overflow: auto;
	width: calc((100% - 2rem) / 3);
	position: relative;
	margin-bottom: 1rem;
}
body > div.container > div.app > div.results > div.output_photos_container > div.image_container:not(:last-child) {
	margin-right: 1rem;
}

/* landscape pictures */
body > div.container > div.app > div.results > div.output_photos_container.landscape > div.image_container {
	width: calc((100% - 2rem) / 2);
}

@media only screen and (max-width: 670px) {
	body > div.container > div.app > div.results > div.output_photos_container {
		padding-left: 0 !important;
	}
	body > div.container > div.app > div.results > div.output_photos_container > div.image_container {
		width: 100% !important;
		margin-right: 0 !important;
	}
}

body > div.container > div.app > div.results > div.output_photos_container > div.image_container > img {
	width: 100%;
	height: auto;
}

/* photo download button */
body > div.container > div.app > div.results > div.output_photos_container > div.image_container > a.download_image {
	width: 2rem;
	height: 2rem;
	box-sizing: border-box;
	display: block;
	padding: 0.375rem;
	opacity: 0.75;
	cursor: pointer;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 99999;
}
body > div.container > div.app > div.results > div.output_photos_container > div.image_container > a.download_image:hover {
	opacity: 1;
}
body > div.container > div.app > div.results > div.output_photos_container > div.image_container > a.download_image > svg {
	width: 100%;
	height: 100%;
	fill: #fff;
}

/* actions */
body > div.container > div.app > div.results > button.action_btn {
	display: block;
	float: left;
	clear: both;
	margin-top: 0.75rem;
	margin-left: 1rem;
}
@media only screen and (max-width: 450px) {
	body > div.container > div.app > div.results > button.action_btn {
		margin-left: 0 !important;
	}
}

/* footer */
body > div.container > footer {
	width: 100%;
	padding: 0.75rem 0;
	text-align: center;
	border-top: 2px solid var(--light-color);
	overflow: hidden;
	height: auto;
}
body > div.container > footer > * {
	height: 2rem;
	line-height: 2rem;
	font-size: 1rem;
	display: block;
}
body > div.container > footer > p.credits {
	float: left;
}
body > div.container > footer > ul.links {
	float: right;
}
body > div.container > footer > ul.links > a {
	margin-left: 1rem;
}
body > div.container > footer a {
	color: var(--blue-color);
	text-decoration: none;
}
body > div.container > footer a:hover {
	color: var(--blue-dark-color);
	text-decoration: underline;
}